html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: #552c2c;
}
/* GLOBALES */

h1,h2,h3,h4{
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4.4rem;
}
h3{
    font-size: 4rem;
}
h4{
    font-size: 3.6rem;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 80.5%;
    margin-left: auto;
    margin-right: auto;
}

/* ACABAN GLOBALES */

header{
    background-color: #3f3f3f;
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra a{
    margin-left: 10px;
    spacing: 5px;
}
a{
    text-decoration: none;
    color: #c6c6c7;
}